*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display:flex;
    height:570px;
    justify-content: center;
    align-items: center;
}

.container{
    width:50%;
    display:block;
    margin:auto;
    border:3px solid #016067;
    border-radius: 3px;
    height:300px;
    position:relative;
}

.section{
    display:grid;
    grid-template-columns: 50% 50%;
}

.section1{
    padding: 25px;
}

.section1 .header h1{
    font-size: 20px;
    text-align: center;
    color: #016067;
}

.section1 h4{
    margin-top: 32px;
    margin-bottom: 4px;
    color: #016067;
}

.section1 h6 {
    margin-top: 12px;
    margin-bottom: 4px;
    color: #016067;
}

.section2{
    background:  #016067;
    color:white;
    position:absolute;
    height:100%;
    right:0px;
    width:50%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.section1 input,select{
    padding: 2px 3px 2px;
    outline: none;
}

.section2 input {
    background: none;
    color:white;
    border:none;
    font-size: 30px;
    text-align: center;
    outline: none;
}

button{
    color:white;
    background: #016067;
    border:none;
    padding:3px 20px 6px;
    border-radius: 25px;
    display:block;
    margin:auto;
    margin-top: 25px;
}

@media screen and (min-device-width:320px) and (max-device-width:400px){
    .container{
        width:90%;
       
    }
    .section{
        display:grid;
        grid-template-columns: 100%;
    }
    .section2{
        background:  #016067;
        color:white;
        position:relative;
        width:102%;
        top:10px;
        left:-3px;
        padding: 10px;
    }
    .section2 input {
        background: none;
        color:white;
        border:none;
        font-size: 20px;
        text-align: center;
        outline: none;
    }
    
}
